header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 5;
}

nav {
  margin: 0;
  padding: 20px 0;
}

nav li {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  width: 80px;
}

.jumbotron {
  height: 100%;
  width: 100%;
}

.login {
  float: right;
}
